html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin { 
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-login .checkbox {
  font-weight: 400;
}
.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.background:after {
  background-image:url(../images/bg.jpg);
  top:0;
  left:0;
  position:absolute;
  background-size:100%;
  opacity:0.15 !important;
  filter:alpha(opacity=1);
  z-index:-1;
  content:"";
  width:100%;
  height:100%;
}
